### Importing libraries :

In [1]:
import pandas as pd
import zipfile
import kaggle 
import seaborn as sns 
import matplotlib.pyplot as plt

### Downloading dataset from kaggle using the Kaggle API :

In [2]:
!kaggle datasets download -d bilalwaseer/air-index-of-worlds-all-cities-2017-to-2022

### Extracting the file from the already downloaded zip file :

In [4]:
zipfile_name = "air-index-of-worlds-all-cities-scikit.zip"
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

### Reading the csv file as a pandas DataFrame :

In [6]:
s_dataset = pd.read_csv(r"C:\Users\MARDAV JADAUN\OneDrive\Desktop\Python\Data-Cleaning-Project\handling missing data using scikit learn\air_index_scikit.csv")
s_dataset.head(5)

,Rank,Countries,City,2022,JAN,FEB,MAR,APR,MAY,JUN,...,AUG,SEP,OCT,NOV,DEC,2021,2020,2019,2018,2017
0,1,Pakistan,Lahore,97.4,133.0,102.5,85.6,69.3,60.9,52.1,...,46.2,64.2,123.2,190.5,192.9,86.5,79.2,89.5,114.9,133.2
1,2,China,Hotan,94.3,61.7,91.6,132.7,106.2,120.5,69.5,...,75.0,65.1,75.0,50.3,120.0,101.5,110.2,110.1,116.0,91.9
2,3,India,Bhiwadi,92.7,110.6,98.0,116.2,149.5,123.8,102.8,...,36.5,59.9,85.4,111.4,86.9,106.2,95.5,83.4,125.4,NaN
3,4,India,Delhi (NCT),92.6,141.0,100.9,91.0,98.0,73.2,56.2,...,31.1,38.3,99.7,176.8,171.9,96.4,84.1,98.6,113.5,108.2
4,5,Pakistan,Peshawar,91.8,110.2,103.5,78.3,68.5,53.5,56.3,...,57.8,79.0,100.0,132.0,212.1,89.6,NaN,63.9,NaN,NaN